<div>
    <h1>Textbasierte Controls</h1>

    <input>
    <input type="email" [form]="textForm">
    <input type="password" [form]="textForm">
    <input type="text" [form]="textForm">
    <input type="search" [form]="textForm">
</div>

<div>
    <h1>Nummerbasierte Controls</h1>
    <input type="number" [form]="numberForm">
</div>

<div>
    <h1>Checkbox</h1>
    <input type="checkbox" [form]="booleanForm">
    <mat-checkbox [form]="booleanForm" />
</div>

<div>
    <h1>Datumseingaben</h1>

    <input type="date" [form]="dateForm">
    <input type="datetime-local" [form]="dateForm">
    <input type="time" [form]="dateForm">
</div>

<input type="button">
<input type="color">

<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="radio">
<input type="range">
<input type="reset">
<input type="submit">
<input type="tel">
<input type="url">
<input type="week">
